In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
# First Model
#  Number of each resource in initial placement vs points

In [3]:
# CSV - modified to rename columns
data = pd.read_csv('resources/model_data.csv')
data.columns

Index(['gameNum', 'player', 'points', 'win', '1_1_n', '1_1_r', '1_1_p',
       '1_1_rp', '1_2_n', '1_2_r', '1_2_p', '1_2_rp', '1_3_n', '1_3_r',
       '1_3_p', '1_3_rp', '2_1_n', '2_1_r', '2_1_p', '2_1_rp', '2_2_n',
       '2_2_r', '2_2_p', '2_2_rp', '2_3_n', '2_3_r', '2_3_p', '2_3_rp', 'L',
       'C', 'S', 'W', 'O', 'resource_pct', '3G', '2L', '2C', '2S', '2W', '2O',
       'has_port', 'D', '0.0278', '0.0556', '0.0833', '0.1111', '0.1389',
       'probability_score', 'probability_score_2'],
      dtype='object')

In [4]:
# Remove un-needed columns
data = data.drop(columns=['gameNum', 'player', 'win', '1_1_n', '1_1_r', '1_1_p',
       '1_1_rp', '1_2_n', '1_2_r', '1_2_p', '1_2_rp', '1_3_n', '1_3_r',
       '1_3_p', '1_3_rp', '2_1_n', '2_1_r', '2_1_p', '2_1_rp', '2_2_n',
       '2_2_r', '2_2_p', '2_2_rp', '2_3_n', '2_3_r', '2_3_p', '2_3_rp', 'resource_pct', '3G', '2L', '2C', '2S', '2W', '2O',
       'has_port', 'D', '0.0278', '0.0556', '0.0833', '0.1111', '0.1389',
       'probability_score', 'probability_score_2'
])

In [5]:
data

     points  L  C  S  W  O
0         5  2  2  0  1  1
1         9  1  0  1  2  2
2        10  0  1  3  1  1
3         5  4  0  1  0  1
4        10  1  0  0  2  2
..      ... .. .. .. .. ..
199       8  1  1  2  1  1
200       3  1  1  1  1  1
201       6  1  0  1  2  2
202       6  0  2  1  1  1
203      10  1  1  2  1  1

[204 rows x 6 columns]

In [6]:
# Pandas dummies convert to categorical
data = pd.get_dummies(data)

# Create list of column names
columns = []
for ea in data.columns:
    columns.append(ea)
# Pop 0th
columns.pop(0)

'points'

In [7]:
X = data[columns]
y = data['points']

In [8]:
from sklearn.ensemble import RandomForestClassifier

In [9]:
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X, y)
rf.score(X,y)

0.5588235294117647

In [10]:
importances = rf.feature_importances_
importances

array([0.19818036, 0.20392146, 0.216661  , 0.20416961, 0.17706757])

In [11]:
sorted(zip(rf.feature_importances_, X), reverse=True)

[(0.21666099776761222, 'S'),
 (0.2041696118304877, 'W'),
 (0.2039214567771056, 'C'),
 (0.19818036096438985, 'L'),
 (0.17706757266040474, 'O')]

In [12]:
##########################################################

In [13]:
# Second Model - Number of each probability vs points

In [14]:
# CSV - modified to rename columns
data = pd.read_csv('resources/model_data.csv')
data.columns

Index(['gameNum', 'player', 'points', 'win', '1_1_n', '1_1_r', '1_1_p',
       '1_1_rp', '1_2_n', '1_2_r', '1_2_p', '1_2_rp', '1_3_n', '1_3_r',
       '1_3_p', '1_3_rp', '2_1_n', '2_1_r', '2_1_p', '2_1_rp', '2_2_n',
       '2_2_r', '2_2_p', '2_2_rp', '2_3_n', '2_3_r', '2_3_p', '2_3_rp', 'L',
       'C', 'S', 'W', 'O', 'resource_pct', '3G', '2L', '2C', '2S', '2W', '2O',
       'has_port', 'D', '0.0278', '0.0556', '0.0833', '0.1111', '0.1389',
       'probability_score', 'probability_score_2'],
      dtype='object')

In [15]:
# Remove un-needed columns
data = data.drop(columns=['gameNum', 'player', 'win', '1_1_n', '1_1_r', '1_1_p',
       '1_1_rp', '1_2_n', '1_2_r', '1_2_p', '1_2_rp', '1_3_n', '1_3_r',
       '1_3_p', '1_3_rp', '2_1_n', '2_1_r', '2_1_p', '2_1_rp', '2_2_n',
       '2_2_r', '2_2_p', '2_2_rp', '2_3_n', '2_3_r', '2_3_p', '2_3_rp', 
       'L','C', 'S', 'W', 'O','resource_pct', '3G', '2L', '2C', '2S', '2W', '2O',
       'has_port', 'D', 'probability_score', 'probability_score_2'
])

In [16]:
data = data.rename(columns={'0.0278': '2,12','0.0556': '3,11','0.0833': '4,10', '0.1111': '5,9','0.1389':'6,8'})

In [17]:
data

     points  2,12  3,11  4,10  5,9  6,8
0         5     0     3     1    1    1
1         9     0     1     2    2    1
2        10     1     1     1    1    2
3         5     0     1     2    1    2
4        10     0     0     2    1    2
..      ...   ...   ...   ...  ...  ...
199       8     0     2     2    2    0
200       3     0     1     2    2    0
201       6     2     0     0    4    0
202       6     0     2     1    0    2
203      10     0     1     3    1    1

[204 rows x 6 columns]

In [18]:
# Pandas dummies convert to categorical
data = pd.get_dummies(data)

# Create list of column names
columns = []
for ea in data.columns:
    columns.append(ea)
# Pop 0th
columns.pop(0)

'points'

In [19]:
data

     points  2,12  3,11  4,10  5,9  6,8
0         5     0     3     1    1    1
1         9     0     1     2    2    1
2        10     1     1     1    1    2
3         5     0     1     2    1    2
4        10     0     0     2    1    2
..      ...   ...   ...   ...  ...  ...
199       8     0     2     2    2    0
200       3     0     1     2    2    0
201       6     2     0     0    4    0
202       6     0     2     1    0    2
203      10     0     1     3    1    1

[204 rows x 6 columns]

In [20]:
X = data[columns]
y = data['points']

In [21]:
from sklearn.ensemble import RandomForestClassifier

In [22]:
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X, y)
rf.score(X,y)

0.4852941176470588

In [23]:
importances = rf.feature_importances_
importances

array([0.10924499, 0.24008753, 0.23579835, 0.25212407, 0.16274506])

In [24]:
sorted(zip(rf.feature_importances_, X), reverse=True)

[(0.2521240722156767, '5,9'),
 (0.24008752544033962, '3,11'),
 (0.23579835091041296, '4,10'),
 (0.16274505825129038, '6,8'),
 (0.10924499318228037, '2,12')]