In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
# First Model
#  Number of each resource in initial placement vs points

In [3]:
# CSV - modified to rename columns
data = pd.read_csv('resources/model_data.csv')
data.columns

Index(['gameNum', 'player', 'points', 'win', '1_1_n', '1_1_r', '1_1_p',
       '1_1_rp', '1_2_n', '1_2_r', '1_2_p', '1_2_rp', '1_3_n', '1_3_r',
       '1_3_p', '1_3_rp', '2_1_n', '2_1_r', '2_1_p', '2_1_rp', '2_2_n',
       '2_2_r', '2_2_p', '2_2_rp', '2_3_n', '2_3_r', '2_3_p', '2_3_rp', 'L',
       'C', 'S', 'W', 'O', 'resource_pct', '3G', '2L', '2C', '2S', '2W', '2O',
       'has_port', 'D', '0.0278', '0.0556', '0.0833', '0.1111', '0.1389',
       'probability_score', 'probability_score_2'],
      dtype='object')

In [4]:
# Remove un-needed columns
data = data.drop(columns=['gameNum', 'player', 'win', '1_1_n', '1_1_r', '1_1_p',
       '1_1_rp', '1_2_n', '1_2_r', '1_2_p', '1_2_rp', '1_3_n', '1_3_r',
       '1_3_p', '1_3_rp', '2_1_n', '2_1_r', '2_1_p', '2_1_rp', '2_2_n',
       '2_2_r', '2_2_p', '2_2_rp', '2_3_n', '2_3_r', '2_3_p', '2_3_rp', 'resource_pct', '3G', '2L', '2C', '2S', '2W', '2O',
       'has_port', 'D', '0.0278', '0.0556', '0.0833', '0.1111', '0.1389',
       'probability_score', 'probability_score_2'
])

In [5]:
data

     points  L  C  S  W  O
0         5  2  2  0  1  1
1         9  1  0  1  2  2
2        10  0  1  3  1  1
3         5  4  0  1  0  1
4        10  1  0  0  2  2
..      ... .. .. .. .. ..
199       8  1  1  2  1  1
200       3  1  1  1  1  1
201       6  1  0  1  2  2
202       6  0  2  1  1  1
203      10  1  1  2  1  1

[204 rows x 6 columns]

In [6]:
# Pandas dummies convert to categorical
data = pd.get_dummies(data)

# Create list of column names
columns = []
for ea in data.columns:
    columns.append(ea)
# Pop 0th
columns.pop(0)

'points'

In [7]:
X = data[columns]
y = data['points']

In [46]:
from sklearn.ensemble import RandomForestClassifier

In [47]:
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X, y)
rf.score(X,y)

0.4852941176470588

In [48]:
# Extract single tree
estimator = rf.estimators_[5]

In [49]:
importances = rf.feature_importances_
importances

array([0.10595905, 0.24531282, 0.23685746, 0.25047171, 0.16139895])

In [31]:
sorted(zip(rf.feature_importances_, X), reverse=True)

[(0.24621112725750705, '5,9'),
 (0.24290748097161263, '4,10'),
 (0.23910140797648038, '3,11'),
 (0.16489699845208652, '6,8'),
 (0.10688298534231337, '2,12')]

In [32]:
##########################################################

In [33]:
# Second Model - Number of each probability vs points

In [34]:
# CSV - modified to rename columns
data = pd.read_csv('resources/model_data.csv')
data.columns

Index(['gameNum', 'player', 'points', 'win', '1_1_n', '1_1_r', '1_1_p',
       '1_1_rp', '1_2_n', '1_2_r', '1_2_p', '1_2_rp', '1_3_n', '1_3_r',
       '1_3_p', '1_3_rp', '2_1_n', '2_1_r', '2_1_p', '2_1_rp', '2_2_n',
       '2_2_r', '2_2_p', '2_2_rp', '2_3_n', '2_3_r', '2_3_p', '2_3_rp', 'L',
       'C', 'S', 'W', 'O', 'resource_pct', '3G', '2L', '2C', '2S', '2W', '2O',
       'has_port', 'D', '0.0278', '0.0556', '0.0833', '0.1111', '0.1389',
       'probability_score', 'probability_score_2'],
      dtype='object')

In [35]:
# Remove un-needed columns
data = data.drop(columns=['gameNum', 'player', 'win', '1_1_n', '1_1_r', '1_1_p',
       '1_1_rp', '1_2_n', '1_2_r', '1_2_p', '1_2_rp', '1_3_n', '1_3_r',
       '1_3_p', '1_3_rp', '2_1_n', '2_1_r', '2_1_p', '2_1_rp', '2_2_n',
       '2_2_r', '2_2_p', '2_2_rp', '2_3_n', '2_3_r', '2_3_p', '2_3_rp', 
       'L','C', 'S', 'W', 'O','resource_pct', '3G', '2L', '2C', '2S', '2W', '2O',
       'has_port', 'D', 'probability_score', 'probability_score_2'
])

In [36]:
data = data.rename(columns={'0.0278': '2,12','0.0556': '3,11','0.0833': '4,10', '0.1111': '5,9','0.1389':'6,8'})

In [37]:
data

     points  2,12  3,11  4,10  5,9  6,8
0         5     0     3     1    1    1
1         9     0     1     2    2    1
2        10     1     1     1    1    2
3         5     0     1     2    1    2
4        10     0     0     2    1    2
..      ...   ...   ...   ...  ...  ...
199       8     0     2     2    2    0
200       3     0     1     2    2    0
201       6     2     0     0    4    0
202       6     0     2     1    0    2
203      10     0     1     3    1    1

[204 rows x 6 columns]

In [38]:
# Pandas dummies convert to categorical
data = pd.get_dummies(data)

# Create list of column names
columns = []
for ea in data.columns:
    columns.append(ea)
# Pop 0th
columns.pop(0)

'points'

In [39]:
data

     points  2,12  3,11  4,10  5,9  6,8
0         5     0     3     1    1    1
1         9     0     1     2    2    1
2        10     1     1     1    1    2
3         5     0     1     2    1    2
4        10     0     0     2    1    2
..      ...   ...   ...   ...  ...  ...
199       8     0     2     2    2    0
200       3     0     1     2    2    0
201       6     2     0     0    4    0
202       6     0     2     1    0    2
203      10     0     1     3    1    1

[204 rows x 6 columns]

In [40]:
X = data[columns]
y = data['points']

In [41]:
from sklearn.ensemble import RandomForestClassifier

In [42]:
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X, y)
rf.score(X,y)

0.4852941176470588

In [43]:
importances = rf.feature_importances_
importances

array([0.10763987, 0.24101143, 0.23412526, 0.25105492, 0.16616852])

In [44]:
sorted(zip(rf.feature_importances_, X), reverse=True)

[(0.25105492081137193, '5,9'),
 (0.24101143464053262, '3,11'),
 (0.23412526085284135, '4,10'),
 (0.1661685166351922, '6,8'),
 (0.10763986706006193, '2,12')]

In [68]:
### BEGIN SOLUTION
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
### END SOLUTION

fit_decision=rf.fit(X_train,y_train)

In [72]:
import graphviz

dot_data = export_graphviz(
    fit_decision, out_file=None, 
    feature_names=X_train,  
    class_names=y,  
    filled=True, rounded=True,  
    special_characters=True)  

import pydotplus
graph = pydotplus.graph_from_dot_data(dot_data)
graph.write_png('html/static/images/rf_points.png')

graph = graphviz.Source(dot_data)  
graph

ValueError: Length of feature_names, 153 does not match number of features, 5