In [40]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [41]:
# First Model
#  Number of each resource in initial placement vs points

In [42]:
# CSV - modified to rename columns
data = pd.read_csv('resources/model_data.csv')
data.columns

Index(['gameNum', 'player', 'points', 'win', '1_1_n', '1_1_r', '1_1_p',
       '1_1_rp', '1_2_n', '1_2_r', '1_2_p', '1_2_rp', '1_3_n', '1_3_r',
       '1_3_p', '1_3_rp', '2_1_n', '2_1_r', '2_1_p', '2_1_rp', '2_2_n',
       '2_2_r', '2_2_p', '2_2_rp', '2_3_n', '2_3_r', '2_3_p', '2_3_rp', 'L',
       'C', 'S', 'W', 'O', 'resource_pct', '3G', '2L', '2C', '2S', '2W', '2O',
       'has_port', 'D', '0.0278', '0.0556', '0.0833', '0.1111', '0.1389',
       'probability_score', 'probability_score_2'],
      dtype='object')

In [43]:
# Remove un-needed columns
data = data.drop(columns=['gameNum', 'player', 'points', '1_1_n', '1_1_r', '1_1_p',
       '1_1_rp', '1_2_n', '1_2_r', '1_2_p', '1_2_rp', '1_3_n', '1_3_r',
       '1_3_p', '1_3_rp', '2_1_n', '2_1_r', '2_1_p', '2_1_rp', '2_2_n',
       '2_2_r', '2_2_p', '2_2_rp', '2_3_n', '2_3_r', '2_3_p', '2_3_rp', 'resource_pct', '3G', '2L', '2C', '2S', '2W', '2O',
       'has_port', 'D', '0.0278', '0.0556', '0.0833', '0.1111', '0.1389',
       'probability_score', 'probability_score_2'
])

In [45]:
data

     win  L  C  S  W  O
0      0  2  2  0  1  1
1      0  1  0  1  2  2
2      1  0  1  3  1  1
3      0  4  0  1  0  1
4      1  1  0  0  2  2
..   ... .. .. .. .. ..
199    0  1  1  2  1  1
200    0  1  1  1  1  1
201    0  1  0  1  2  2
202    0  0  2  1  1  1
203    1  1  1  2  1  1

[204 rows x 6 columns]

In [46]:
# Pandas dummies convert to categorical
data = pd.get_dummies(data)

# Create list of column names
columns = []
for ea in data.columns:
    columns.append(ea)
# Pop 0th
columns.pop(0)

'win'

In [47]:
X = data[columns]
y = data['win']

In [48]:
from sklearn.ensemble import RandomForestClassifier

In [50]:
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X, y)
rf.score(X,y)

0.8382352941176471

In [51]:
importances = rf.feature_importances_
importances

array([0.17153397, 0.2119883 , 0.21877417, 0.24146256, 0.156241  ])

In [52]:
sorted(zip(rf.feature_importances_, X), reverse=True)

[(0.24146256072612515, 'W'),
 (0.21877417310180655, 'S'),
 (0.21198829852794127, 'C'),
 (0.17153396631958448, 'L'),
 (0.15624100132454255, 'O')]

In [18]:
##########################################################

In [19]:
# Second Model - Number of each probability vs points

In [53]:
# CSV - modified to rename columns
data = pd.read_csv('resources/model_data.csv')
data.columns

Index(['gameNum', 'player', 'points', 'win', '1_1_n', '1_1_r', '1_1_p',
       '1_1_rp', '1_2_n', '1_2_r', '1_2_p', '1_2_rp', '1_3_n', '1_3_r',
       '1_3_p', '1_3_rp', '2_1_n', '2_1_r', '2_1_p', '2_1_rp', '2_2_n',
       '2_2_r', '2_2_p', '2_2_rp', '2_3_n', '2_3_r', '2_3_p', '2_3_rp', 'L',
       'C', 'S', 'W', 'O', 'resource_pct', '3G', '2L', '2C', '2S', '2W', '2O',
       'has_port', 'D', '0.0278', '0.0556', '0.0833', '0.1111', '0.1389',
       'probability_score', 'probability_score_2'],
      dtype='object')

In [54]:
# Remove un-needed columns
data = data.drop(columns=['gameNum', 'player', 'points', '1_1_n', '1_1_r', '1_1_p',
       '1_1_rp', '1_2_n', '1_2_r', '1_2_p', '1_2_rp', '1_3_n', '1_3_r',
       '1_3_p', '1_3_rp', '2_1_n', '2_1_r', '2_1_p', '2_1_rp', '2_2_n',
       '2_2_r', '2_2_p', '2_2_rp', '2_3_n', '2_3_r', '2_3_p', '2_3_rp', 
       'L','C', 'S', 'W', 'O','resource_pct', '3G', '2L', '2C', '2S', '2W', '2O',
       'has_port', 'D', 'probability_score', 'probability_score_2'
])

In [55]:
data = data.rename(columns={'0.0278': '2,12','0.0556': '3,11','0.0833': '4,10', '0.1111': '5,9','0.1389':'6,8'})

In [57]:
data

     win  2,12  3,11  4,10  5,9  6,8
0      0     0     3     1    1    1
1      0     0     1     2    2    1
2      1     1     1     1    1    2
3      0     0     1     2    1    2
4      1     0     0     2    1    2
..   ...   ...   ...   ...  ...  ...
199    0     0     2     2    2    0
200    0     0     1     2    2    0
201    0     2     0     0    4    0
202    0     0     2     1    0    2
203    1     0     1     3    1    1

[204 rows x 6 columns]

In [58]:
# Pandas dummies convert to categorical
data = pd.get_dummies(data)

# Create list of column names
columns = []
for ea in data.columns:
    columns.append(ea)
# Pop 0th
columns.pop(0)

'win'

In [59]:
data

     win  2,12  3,11  4,10  5,9  6,8
0      0     0     3     1    1    1
1      0     0     1     2    2    1
2      1     1     1     1    1    2
3      0     0     1     2    1    2
4      1     0     0     2    1    2
..   ...   ...   ...   ...  ...  ...
199    0     0     2     2    2    0
200    0     0     1     2    2    0
201    0     2     0     0    4    0
202    0     0     2     1    0    2
203    1     0     1     3    1    1

[204 rows x 6 columns]

In [60]:
X = data[columns]
y = data['win']

In [61]:
from sklearn.ensemble import RandomForestClassifier

In [63]:
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X, y)
rf.score(X,y)

0.7696078431372549

In [64]:
importances = rf.feature_importances_
importances

array([0.12063557, 0.25692143, 0.19344616, 0.26504329, 0.16395356])

In [65]:
sorted(zip(rf.feature_importances_, X), reverse=True)

[(0.2650432895499304, '5,9'),
 (0.2569214271970616, '3,11'),
 (0.19344615766735448, '4,10'),
 (0.16395355558301647, '6,8'),
 (0.12063557000263697, '2,12')]